header.d-block.header--adventure
    #header-title.bg-primary
        .row.mx-auto.py-3
            .col-lg-8.mx-auto.text-center
                h1.header-title.text-white.mb-0 Rewarding Adventures
                p.lead.text-secondary When Was The Last Time You Rewarded Yourself?
    nav.navbar.navbar-expand-xl.navbar-light.d-none
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='#')
                        | Some Shit 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Link