header.d-block.header--adventure
    #header-title.bg-primary
        .row.mx-auto.py-3
            .col-lg-8.mx-auto.text-center
                h1.header-title.text-white.mb-0 
                    //- Insert Title Here
                p.lead.text-secondary.header-byline
                    //- Insert By Line here
    nav.navbar.navbar-expand-xl.navbar-light
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                