footer.d-block
    .row.mx-auto.bg-light
        .col-12
            nav.navbar.navbar-light
                ul.nav.mx-auto
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Link
    .row.py-4.bg-primary.text-light.text-center.mx-auto
        .col-12
            small.mb-0.copyright Copyright &copy; 2020. Rewardtrax