footer.d-block
    .row.mx-auto.bg-light
        .col-12
            nav.navbar.navbar-light
                ul.nav.mx-auto.footer-links
                    //- Insert Navigation Token Here
    .row.py-4.bg-primary.text-light.text-center.mx-auto
        .col-12
            small.mb-0.copyright Copyright &copy; 2020. Rewardtrax