doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  // FontAwesome Kit
  script(src="https://kit.fontawesome.com/5f21471d45.js" crossorigin="anonymous")
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  
  // DevExtreme themes
  link(rel='stylesheet' href='https://cdn3.devexpress.com/jslib/19.2.6/css/dx.common.css')
  link(rel='stylesheet' href='https://cdn3.devexpress.com/jslib/19.2.6/css/dx.light.css')

  // Main Stylesheet
  link(rel="stylesheet", href="/src/scss/style.css")
  link(rel="stylesheet", href="/src/scss/custom.css")

  

  title V5 2020
body
    block header
        include ../pug/layout/headers/header-default.pug
                    
    block page-content
        main.full-height
            .container
                h1.page-title
                    span.fas.fa-user
                    span Hello, world!
                
                .row 
                    .col-12.screen-content
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis ipsum laborum esse illum tempora odio praesentium veniam dicta doloribus dolor.
    block footer-content                
        include ../pug/layout/footers/footer-default.pug



    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/src/js/data.json')
    script(type='text/javascript' src='/src/js/main.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
    // Devextreme
    script(type='text/javascript' src='https://cdn3.devexpress.com/jslib/19.2.6/js/dx.all.js')
    block scripts 
