footer.d-block
    nav.navbar.navbar-light.bg-light
        ul.nav.mx-auto
            li.nav-item.active
                a.nav-link(href='#')
                    | Home 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Link