$primary: #023b56;
$secondary: #eea21f;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$transparent: transparent;
$accent: $info;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "transparent": $transparent
);

// Generate Color Utilities
@each $name, $color in $colors {
  .bg-#{$name} {
    background: $color !important;
  }

  .btn-#{$name} {
    background: $color !important;
    border-color: $color !important;
    &:hover {
      background: darken($color, 10%) !important;
      border-color: darken($color, 10%) !important;
    }
  }

  .text-#{$name} {
    color: $color !important;
  }

  .border-#{$name} {
    border-color: $color !important;
  }
}

// Bootstrap Background and Button Class Overrides

/***********************************************************
- Mixins
***********************************************************/
// Link Hover
@mixin link-hover($link) {
  color: darken($link, 10%);
}

// Full Size Image

.full-size-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
