.bg-primary {
  background: #023b56 !important;
}

.btn-primary {
  background: #023b56 !important;
  border-color: #023b56 !important;
}

.btn-primary:hover {
  background: #011924 !important;
  border-color: #011924 !important;
}

.text-primary {
  color: #023b56 !important;
}

.border-primary {
  border-color: #023b56 !important;
}

.bg-secondary {
  background: #eea21f !important;
}

.btn-secondary {
  background: #eea21f !important;
  border-color: #eea21f !important;
}

.btn-secondary:hover {
  background: #cb860f !important;
  border-color: #cb860f !important;
}

.text-secondary {
  color: #eea21f !important;
}

.border-secondary {
  border-color: #eea21f !important;
}

.bg-success {
  background: #28a745 !important;
}

.btn-success {
  background: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-success:hover {
  background: #1e7e34 !important;
  border-color: #1e7e34 !important;
}

.text-success {
  color: #28a745 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.bg-danger {
  background: #dc3545 !important;
}

.btn-danger {
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-danger:hover {
  background: #bd2130 !important;
  border-color: #bd2130 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.bg-warning {
  background: #ffc107 !important;
}

.btn-warning {
  background: #ffc107 !important;
  border-color: #ffc107 !important;
}

.btn-warning:hover {
  background: #d39e00 !important;
  border-color: #d39e00 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.bg-info {
  background: #17a2b8 !important;
}

.btn-info {
  background: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.btn-info:hover {
  background: #117a8b !important;
  border-color: #117a8b !important;
}

.text-info {
  color: #17a2b8 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.bg-light {
  background: #f8f9fa !important;
}

.btn-light {
  background: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.btn-light:hover {
  background: #dae0e5 !important;
  border-color: #dae0e5 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.bg-dark {
  background: #343a40 !important;
}

.btn-dark {
  background: #343a40 !important;
  border-color: #343a40 !important;
}

.btn-dark:hover {
  background: #1d2124 !important;
  border-color: #1d2124 !important;
}

.text-dark {
  color: #343a40 !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.bg-white {
  background: #fff !important;
}

.btn-white {
  background: #fff !important;
  border-color: #fff !important;
}

.btn-white:hover {
  background: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}

.text-white {
  color: #fff !important;
}

.border-white {
  border-color: #fff !important;
}

.bg-transparent {
  background: transparent !important;
}

.btn-transparent {
  background: transparent !important;
  border-color: transparent !important;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.text-transparent {
  color: transparent !important;
}

.border-transparent {
  border-color: transparent !important;
}

/***********************************************************
- Mixins
***********************************************************/
.full-size-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-height {
  min-height: calc(100vh - 112px) !important;
}

.equal-height-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equal-height-columns > [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-title-wrapper h1,
#page-title-wrapper p {
  margin-bottom: 0;
}

/***********************************************************
- COMPONENTS
***********************************************************/
.jumbotron {
  border-radius: 0;
}

footer a,
footer a.nav-link,
header a,
header a.nav-link {
  color: #023b56;
}

footer a:hover,
footer a.nav-link:hover,
header a:hover,
header a.nav-link:hover {
  color: link-hover(#023b56);
}

#chart {
  width: 100%;
  height: auto;
}

.form-control input {
  border: none;
}

button input {
  background: transparent;
  border: none;
  color: white;
}

.megamenu-desktop .col-3 {
  height: 540px;
  overflow-y: auto;
}

#topCategories,
#secondLvlCategories {
  display: none;
}

#topCategoriesImageRep {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/331990/pexels-photo-331990.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/***********************************************************
- Themes
***********************************************************/
.full-height__adventure--login {
  min-height: calc(100vh - 254px) !important;
}

.col-lg-8 > .login-wrapper {
  background: #023b56;
}

.login-wrapper a {
  color: white;
}

.login-callout {
  text-align: center;
  font-size: 1.5rem;
}

.login-callout a {
  color: white;
  margin-bottom: 0;
}

.adventure--callout {
  margin-bottom: 2em;
}

.adventure--callout .fas,
.adventure--callout .fab,
.adventure--callout .far {
  font-size: 2.5rem;
}

.adventure--callout a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#adventure__section--cta {
  border-width: 10px !important;
}

.leaderboard__home__default__avatar {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  overflow: hidden;
  border: 5px solid #0590d3;
}

.leaderboard__home__default__avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.leaderboard__home__default .display-4 {
  font-size: 1.25rem;
}

.split-screen-left,
.split-screen-right {
  border-top: 10px solid #eea21f;
  border-left: 10px solid #eea21f;
  border-right: 10px solid #eea21f;
}

.split-screen-right {
  border-bottom: 10px solid #eea21f;
}

#goal-tracking .circle {
  stroke: #17a2b8;
  stroke-linecap: round;
}

@media (min-width: 1024px) {
  .col-lg-8.login-wrapper {
    background: #023b56;
  }
}

@media (min-width: 1024px) {
  .login-callout {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .split-screen-left,
  .split-screen-right {
    border-top: 10px solid #eea21f;
    border-bottom: 10px solid #eea21f;
  }
  .split-screen-left {
    border-left: 10px solid #eea21f;
    border-right: 5px solid #eea21f;
  }
  .split-screen-right {
    border-right: 10px solid #eea21f;
    border-left: 5px solid #eea21f;
  }
}
/*# sourceMappingURL=style.css.map */